.row div {
    transition: 0.4s;
}

.box-grid .popupMenu{
    background: #a0a0a07d;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.box-grid .dropdown{
    position: absolute;
    top: 10px;
    right: 5px;
}
.box-grid .dropdown-a{
    color:white;
    vertical-align: middle;
}
.box-grid .dropdown-a i{
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
}
.box-grid .dropdown-menu{
    margin-top: 21px!important;
    margin-left: -165px!important;
}



.fs_12px {
    font-size: 12px !important;
}

.fs_13px {
    font-size: 13px !important;
}

.fs_14px {
    font-size: 14px !important;
    line-height: 21px !important;
}

.fs_15px {
    font-size: 15px !important;
    line-height: 25px !important;
}
.fs_16px {
    font-size: 16px !important;
    line-height: 26px !important;
}

.fs_17px {
    font-size: 17px !important;
    line-height: 27px !important;
}

.fs_18px {
    font-size: 18px !important;
    line-height: 28px !important;
}

.fs_20px {
    font-size: 20px !important;
    line-height: 30px !important;
}

.fs_22px {
    font-size: 22px !important;
    line-height: 32px !important;
}

.fs_24px {
    font-size: 24px !important;
    line-height: 34px !important;
}

.fs_26px {
    font-size: 26px !important;
    line-height: 36px !important;
}

.fs_28px {
    font-size: 28px !important;
    line-height: 38px !important;
}

.fs_30px {
    font-size: 30px !important;
    line-height: 38px !important;
}

.fs_32px {
    font-size: 32px !important;
    line-height: 42px !important;
}

.fs_34px {
    font-size: 34px !important;
    line-height: 44px !important;
}

.fs_36px {
    font-size: 36px !important;
    line-height: 46px !important;
}

.fs_38px {
    font-size: 38px !important;
    line-height: 48px !important;
}

.fs_40px {
    font-size: 40px !important;
    line-height: 42px !important;
}

.fs_42px {
    font-size: 42px !important;
    line-height: 52px !important;
}

.fs_46px {
    font-size: 46px !important;
    line-height: 56px !important;
}

.fs_48px {
    font-size: 48px !important;
    line-height: 56px !important;
}

.fs_50px {
    font-size: 50px !important;
    line-height: 56px !important;
}

.fs_52px {
    font-size: 52px !important;
    line-height: 56px !important;
}

.fs_58px {
    font-size: 58px !important;
    line-height: 50px !important;
}

.fs_100px {
    font-size: 100px !important;
    line-height: 110px !important;
}

.vertical-center{
    vertical-align: middle!important;
}


/*Liste Görünümü*/

.grid-list img{
    height: 90px;
    width: 120px;
}

.grid-list .card{
    height: 90px;
    min-height: 90px;
    margin-bottom: 15px;
}

.grid-list .card-text{

}
.grid-list .card-title{
    margin-bottom: 10px!important;
    margin-top:5px!important;
}

.grid-list .card-body{
    padding: 10px 20px 10px 20px;
}

.gird-list a .btn-primary{

}

/*Box Görünüm*/

.box-list .card{
    padding: 0;
    min-height: 300px;
    height: 302px;
    min-width: 300px;
    margin-bottom: 15px;
}
